// ==========================================================================
// # MENU MOBILE
// ==========================================================================

.m-menu {
	position: absolute;
	display: none;
	top: 100%;
	width: 100%;
	min-height: calc(100vh - 116px);

	&.m-menu--active {
		display: block;
		overflow-y: scroll;
	}
}

.m-menu__ul {
	padding: 44px 0;
}

.m-menu__cta {
	font-size: 2.2rem;
	color: $c-blue;
	display: flex;
	align-items: center;
	height: 28px;

	svg {
		display: block;
		margin-right: 12px;
	}
}


.m-menu__li {
	margin-bottom: 48px;

	&.m-menu__sub--active {
		.m-menu__sub {
			display: block;
		}
	}
}

// Sub menu
.m-menu__sub {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: $z-3;
	background-color: $bg-blue;
	min-height: calc(100vh - 116px);
}

.m-menu__sub__inner {
	background-color: $bg-blue-2;
}

.m-menu__sub__title {
	font-size: 2.2rem;
	font-weight: 700;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $c-blue;

	svg {
		display: block;
	}
}

.m-menu__sub__close {
	position: absolute;
	right: 0;
}

.m-menu__sub__ul {
	padding: 38px 14px 38px;
}

.m-menu__sub__head {
	margin-bottom: 32px;

	svg {
		margin-left: 17px;
	}
}

.m-menu__sub__li {
	margin-bottom: 32px;
}

.m-menu__sub__main {}