/* ==========================================================================
   # COMPONENT / OUR MEMBERS
   ========================================================================== */

.our-members {
	padding: 45px 0;

	@include bp(medium) {
		padding: 65px 0;
	}
}

.our-members__ul {
	margin: 0;
	padding: 0;
}

.our-members__li {
	list-style: none;
	display: block;

	&.is-selected {
		.our-members__svg {
			svg {
				transform: rotate(180deg);
			}
		}
	}
}

.our-members__li--hide {
	display: none;
}

.our-members__grid {
	display: grid;
	gap: 1rem;
	grid-auto-flow: dense;
	grid-template-columns: repeat(1, 1fr);
	gap: 12px 0;
	justify-content: center;

	@include bp(medium) {
		grid-template-columns: repeat(2, 1fr);
		gap: 24px 20px;
	}

	@include bp(large) {
		grid-template-columns: repeat(3, 1fr);
		gap: 34px 16px;
	}

	@include bp(xlarge) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.fullwidth {
	grid-column: 1 / -1;

	&.is-hidden {
		display: none;
	}
}

.our-members__btn {
	border: 0;
}

.our-members__logo {
	pointer-events: none;
}

.our-members__cta {
	display: flex;
	align-items: center;
	padding: 8px 14px;
	background-color: $bg-white;
	cursor: pointer;

	@include bp(medium) {
		padding: 20px;

	}
}

.our-members__drop {
	color: $c-blue;
	font-size: 1.8rem;
	pointer-events: none;
}

.our-members__logo {
	margin-right: 22px;
	display: block;
}

.our-members__svg {
	position: absolute;
	pointer-events: none;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);

	@include bp(medium) {
		right: unset;
		top: unset;
		bottom: 8px;
		left: 50%;
		transform: translateX(-50%);
	}

	svg {
		transition: transform 200ms linear;
	}
}

.our-members__close {
	position: absolute;
	top: 26px;
	right: 26px;
	border: 0;
	background-color: transparent;
	cursor: pointer;

	@include bp(medium) {
		top: 30px;
		right: 30px;
	}

	svg {
		display: block;
		width: 14px;
		height: 14px;
		pointer-events: none;
	}
}

.our-members__main {
	background-color: white;
	display: flex;
	flex-wrap: wrap;
}

.our-members__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.our-members__image {
	width: 100%;
	order: 2;

	@include bp(medium) {
		width: 40%;
		order: 0;
	}
}

.our-members__content {
	width: 100%;
	order: 0;
	padding: 20px 20px 26px 20px;

	@include bp(medium) {
		width: 60%;
		order: 2;
		padding: 30px 50px 30px 60px;
	}
}

.our-members__title {
	font-size: 2.8rem;
	color: $c-blue;
	margin-bottom: 12px;
	padding-right: 40px;
}

.our-members__text {
	font-weight: 300;

	p {
		margin-bottom: 20px;
	}
}

.our-members__social {
	display: flex;
	flex-direction: column;
	margin-bottom: 18px;

	@include bp(medium) {
		flex-direction: row;
		align-items: center;
	}
}

.our-members__direct {
	margin-bottom: 9px;

	@include bp(medium) {
		margin-bottom: 0;
	}
}

.our-members__link {
	margin-right: 16px;
	color: $c-blue-7;
	@include letter-spacing(100);
	font-size: 1.4rem;
	display: inline-block;

	@include bp(medium) {
		margin-right: 14px;
	}

	svg {
		display: block;
	}
}

.our-members__select {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 30px;

	select {
		width: 100%;
		background-color: $bg-white;
		appearance: none;
		border: none;
		outline: none;
		padding: 15px 19px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.451' height='7.64' viewBox='0 0 12.451 7.64'%3E%3Cpath fill='none' stroke='%23024997' stroke-width='2' d='m.707.707 5.518 5.518L11.743.707' data-name='Path 27'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position-x: 96%;
		background-position-y: 20px;

		@include bp(medium) {
			width: auto;
			min-width: 216px;
			background-position-x: 95%;
			background-position-y: 16px;
			padding: 11px 16px;
		}
	}

	select::-ms-expand {
		display: none;
	}
}