/* ==========================================================================
   #LINKS
   ========================================================================== */
.u-btn {
	font-size: 1.8rem;
	line-height: 1.44;
	background-color: $bg-blue;
	color: $c-white;
	padding: 8px 14px;
	display: inline-flex;
	white-space: nowrap;

	@include bp(medium) {
		padding: 10px 18px;
	}

	@include bp(large) {
		transition: background-color 200ms linear;

		&:hover {
			background-color: $bg-blue-4;
		}
	}
}

.u-btn--blue {
	color: $c-blue;
	background-color: $bg-blue-5;

	@include bp(large) {
		&:hover {
			background-color: $bg-white;
		}
	}
}

.u-btn-secondary {
	padding: 8px 14px 8px 0;
	font-size: 1.8rem;
	line-height: 1.44;
	color: $c-blue;
	display: inline-flex;
	position: relative;
	white-space: nowrap;

	@include bp(medium) {
		padding: 10px 18px 10px 0;
	}

	&::after {
		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.201' height='8.904' viewBox='0 0 16.201 8.904'%3E%3Cg fill='none' stroke='%23024997' stroke-width='1.5' data-name='Group 86'%3E%3Cpath d='M-.001 4.452H15.14' data-name='Path 31'/%3E%3Cpath d='m11.218.53 3.922 3.922-3.922 3.922' data-name='Path 32'/%3E%3C/g%3E%3C/svg%3E");
		position: absolute;
		right: -6px;
		transition: all 200ms linear;
	}

	@include bp(large) {
		&:hover {
			&::after {
				right: -16px;
			}
		}
	}
}

.u-btn-secondary--light {
	color: $c-blue-2;

	&::after {
		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.201' height='8.904' viewBox='0 0 16.201 8.904'%3E%3Cg fill='none' stroke='%23e6ecf3' stroke-width='1.5' data-name='Group 86'%3E%3Cpath d='M-.001 4.452H15.14' data-name='Path 31'/%3E%3Cpath d='m11.218.53 3.922 3.922-3.922 3.922' data-name='Path 32'/%3E%3C/g%3E%3C/svg%3E");
	}
}

.u-btn-secondary--back {
	&::after {
		right: auto;
		left: -26px;
		transform: rotate(180deg);
		height: 19px;
	}

	@include bp(large) {
		&:hover {
			&::after {
				right: auto;
				left: -32px;
			}
		}
	}
}




/* Burger icon
   ========================================================================== */
#burger-menu {
	cursor: pointer;
}

.burger-menu__content {
	height: 18px;
	width: 18px;
	margin: 13px;
	overflow: visible;
	position: relative;
	z-index: 2;

	// THE LINES
	span,
	span:before,
	span:after {
		background: $bg-blue;
		display: block;
		height: 2px;
		opacity: 1;
		position: absolute;
		transition: 200ms ease-in-out;
	}

	span:before,
	span:after {
		content: '';
	}

	// TOP
	span:before {
		left: 0px;
		top: -6px;
		width: 18px;
	}

	// MIDDLE
	span {
		right: 0px;
		top: 8px;
		width: 18px;
	}

	// BOTTOM
	span:after {
		left: 0px;
		top: 6px;
		width: 18px;
	}

}

.u-header__mobile__burger {

	// ROTATION ON CLICK
	&.menu-active {

		// TOP
		span:before {
			top: 0px;
			transform: rotate(90deg);
			width: 18px;
		}

		// MIDDLE
		span {
			transform: rotate(-45deg);
			top: 8px;
			width: 18px;
		}

		// BOTTOM
		span:after {
			top: 0px;
			left: 0;
			transform: rotate(90deg);
			opacity: 0;
			width: 0;
		}
	}
}