/* ==========================================================================
   # BORDER
   ========================================================================== */

/* Radius + Regular Borders 
    ========================================================================== */
.b-black {
    border: 1px solid $b-black;
}

.b-white {
    border: 1px solid $b-white;
}

.border-50 {
    border-radius: 50%;
}