/* ==========================================================================
   # COLORS
   ========================================================================== */

/* Background Colors
   ========================================================================== */
.bg-white {
	background-color: $bg-white;
}

.bg-black {
	background-color: $bg-black;
}

.bg-blue {
	background-color: $bg-blue;
}

.bg-blue-2 {
	background-color: $bg-blue-2;
}

/* Text
   ========================================================================== */
.text-white {
	color: $c-white;
}

.text-black {
	color: $c-grey;
}

.text-blue {
	color: $c-blue;
}