/* ==========================================================================
   # DISPLAY
   ========================================================================== */

.d-mobile {
	display: block;

	@include bp (xlarge) {
		display: none;
	}
}

.d-mobile-to-lg-tablet {
	display: block;

	@include bp (large) {
		display: none;
	}
}

.d-medium {
	display: none;

	@include bp (medium) {
		display: block;
	}
}

.d-desktop {
	display: none;

	@include bp (xlarge) {
		display: block;
	}
}

.d-lg-tablet {
	display: none;

	@include bp (large) {
		display: block;
	}
}

.d-hide {
	display: none;
}

.vh {
	@include hidden-visually();
}
